* {
  font-family: 'Montserrat', sans-serif;
  color: #222831;
  /* font-family: 'Ubuntu', sans-serif; */

}
.App {
  text-align: center;
}


.text-container {
  /* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

@media (max-width: 2000px) {
  h1 {
    font-size: 300%;
  }
  
  body {
    /* background-color: rgb(157, 157, 232); */
    background-color: #EEEEEE;

  }

  button{
    border-radius: 5px;
    background-color: #393E46;
    color: #EEEEEE;
    width: 200px;
  }

}